 .textbox-container {
    background-color: #F4f5f5;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 5px  #1f9e6e;
    width: 50%;
    display: flex;
    margin-bottom: 25px;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
  }

  .header-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    flex-grow: 1;
    color: #3dcaa6;
  }
  
  .textbox-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .input-text {
    width: 90%;
    padding: 8px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: vertical;
  }
  
  .add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3dcaa6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    color: #2b2e2f;
    cursor: pointer;
    margin-left: 40px;
  }

  .add-button:hover {
    background-color: #1f9e6e;
  }
  
  .submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3dcaa6;
    border-radius: 4px;
    padding: 8px 20px;
    width: 40%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    color: #2b2e2f;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #1f9e6e;
  }
 
  .close-btn {
    background-color: #3dcaa6;
    border-radius: 50%;
    border: none;
    position: absolute;
    margin-left: 40px;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #2b2e2f;
    font-weight: bold;
    max-width: 4rem;
    max-height: 3rem;
    right: 2rem;
    top: 2rem;
  } 
  
  
  